version: 2.1
jobs:
  build:
    docker:
      - image: circleci/node:15.14.0
      - image: circleci/node:15.14.0
    steps:
      - checkout
      - run:
          name: install-dependent
          command: npm install
      - run:
          name: build
          command: npm run build